html body {
	color: red;
	font-size: 28px;
}

/*Styling footer*/
.text-in-footer, .footer-links {
	display: none;
}

.footer-content .footer-column {
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}

.footer-header {
	text-align: center;
}

/*Styling pagination*/
.pagination {
    width: 62.4%;
}

/*Styling posts*/
.post {
    margin-bottom: 25px;
}

.post-image-content {
    height: 360px;
}

/*Styling credentials*/
.credentials {
    text-align: center;
}

.credentials-separator {
	display: none;
}

/*Styling post location*/
.post-location {
    display: none;
}

nav.site-navigation {
	display: none;
}

/*Styling logo*/
#logo {
	width: 20em;
	height: 5.2em;
	margin-left: 7em;
}

#header-container {
	margin: 4em 5% 2em 5%;
}