html body {
	color: blue;
	font-size: 20px;
}

/*Styling pagination*/
.pagination {
    width: 80.5%;
}

.pagination a {
    padding: 0 12px;
}

/*Styling index page posts*/
.post {
    width: 44.5%;
    margin: 2.5%;
}

div.double-column {
    width: 94.8%;
}

.post-image-content {
    height: 240px;
}

/*Styling credentials*/
.credentials-br {
	display: none;
}

.credentials-separator {
	display: inline-block;
}

/*Styling logo*/
/*#header-container {
	margin: 60px 5% 20px 5%;
}*/
